{% extends 'macro.html' %}
{% load static %}
{% block content %}

  <style>
  
.services .card .card-img img{
    width: 100%;
    height: 200px;
  }
.services .card a{
  font-size: 79%;
}

</style>
  
  <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('{% static 'img/page-header.jpg' %}');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>ABlog</h2>
              <p>More Blogs for users</p>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <span class='badge bg-dark'>One</span> <span class='badge bg-warning'>Two</span> <span class='badge bg-warning'>Three</span>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

  <main id="main">

   


    <!-- ======= Services Section ======= -->
    <section id="service" class="services pt-0">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>Blog Posts</span>
          <h2>Blog Posts</h2>

        </div>

      
        <div class="row gy-4">
          {% for blog in page_obj %}
          <div class="col-lg-3 col-md-5 col-12" data-aos="fade-up" data-aos-delay="100">
            <div class="card shadow">
              <div class="card-img">
                <img data-src="{{blog.blogpostimage.image.url}}" src="{{blog.blogpostimage.thumbnail.url}}" alt="" class="img-fluid lazy">
              </div>
              <h3><a href="{% url 'details' blog.category.slug blog.slug %}" class="stretched-link">{{blog.title}}</a></h3>
              <p>{{blog.description}}</p>
            </div>
          </div><!-- End Card Item -->
          {% endfor %}
      </div>

          
      </div>
    </section><!-- End Services Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
      <div class="container" data-aos="zoom-out">

        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h3>Call To Action</h3>
            <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a class="cta-btn" href="#">Call To Action</a>
            </dic>
          </div>

        </div>
    </section><!-- End Call To Action Section -->

    <!-- ======= Services Section ======= -->
    <section id="service" class="services pt-0">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>Our Services</span>
          <h2>Our Services</h2>

        </div>

         <div class="row gy-4">
          {% for blog in page_obj %}
          <div class="col-lg-3 col-md-5 col-12" data-aos="fade-up" data-aos-delay="100">
            <div class="card shadow">
              <div class="card-img">
                <img data-src="{{blog.blogpostimage.image.url}}" src="{{blog.blogpostimage.thumbnail.url}}" alt="" class="img-fluid lazy">
              </div>
              <h3><a href="{% url 'details' blog.category.slug blog.slug %}" class="stretched-link">{{blog.title}}</a></h3>
              <p>{{blog.description}}</p>
            </div>
          </div><!-- End Card Item -->
          {% endfor %}
        </div>
      </div>
    </section><!-- End Services Section -->

    

  </main><!-- End #main -->
{% endblock %}
{% block scripts %}
<script src='{% static "js/yall.min.js" %}'></script>
  <script>
    document.addEventListener('DOMContentLoaded', function(){
        yall();
      })
  </script>

{% endblock %}